::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.55);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.55);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background-color: rgb(187, 76, 150, 0.55);
}
body { overflow-x:hidden;background: transparent;}



.js-container { 
  width: 100%;
  padding: 0px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border: 0px solid rgb(75, 44, 44);
  
 
}
.js-container-dual { display: flex;flex-direction:unset; justify-content: space-evenly; width: 100% }
.js-cell {

  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 20px;

  
  display: table-cell;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-align-last: center;
  border: 0px solid #fff;

}
.js-cellbandcamp {

  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  box-sizing: border-box;
  width: 43%;
  border:0px solid white;

  text-align: center;
  align-items: center;
  justify-content: center;
  text-align-last: center;
  

}
.gumroadimg__landing {
  width: 100%;
  margin: 00px;
  margin-top: 0px;
  padding-right:00px;
  padding: 0px;
  margin-bottom:4px;

  border-radius: 5px;
  align-self: center;
}
.js-cell-gumroad { padding: 10px 0px 20px 0px;width: 40%; }

.infotext3 { 
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  margin:0px;
  width: 100%;
  padding:0px;
  text-align: center; 
}
.maincontainer {
  margin-top:0px;
  padding-left: 20px;
  padding-right: 20px;
}

.infotext {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 500;
  width: 100%;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 20px;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
} 
#cell { display: flex;flex-direction: column; gap: 4px;}
.iframe_props { width: 90%;}
.gumroad-button .logo-full { font-size:11px;}
.gumroad-button span { display:none }
@media (min-width: 768px) {
  body { overflow-x:hidden;background: rgba(13, 13, 13, 0.10);}
  .gumroadimg__landing {  

    width: 620px;
  }
  .gumroadimg { max-width: 240px;}

  .infotext {
    margin-left: 80px;
    margin-right: 80px;
    font-weight: 600;
    width: 80%;
    font-size: 18px;    
  } 
  .infotext3 { font-size: 18px;margin-top:15px}
  .maincontainer {
    margin-top:0px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .iframe_props { width: 608px;}
  .iframe_soundcloud { width: 700px;}
  .gumroad-button span { display:block }
  .js-cell-gumroad { width:35%; padding: 10px 0px 20px 0px }
}
