@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;

  background-repeat: no-repeat;
  background-attachment:fixed;
}
html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
body {
  margin: 0px;
  width: 100%;
  height: 100%;
    color: black;
  background-color: white;
  background: #ffffff;

}


nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

main {
 
  border-width: 0px;
  border-style: solid;
  padding: 1rem;
  text-align: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

h1 {
  justify-content: center;
  text-justify: distribute-all-lines;
  font-weight: bold;
  font-size: 2.5rem;
}

.footer {
  font-size: smaller;
  text-align: center;
  color: #d4d4d4;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  border: #000;
  border-width: 0px;
  border-style: solid;
}

.dropdown {
  margin-right: 18px;
}

.dropdown:last-child {
  margin-right: 0;
}

.dropdown button {
  border: 0;
  background: #d889f0;
  color: #fff;
  padding: 16px 28px;
  width: 225px;
  height: 50px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: 0.5s ease;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.dropdown button:hover,
.dropdown button.active {
  background: #6d8fff;
}

.dropdown button .icon {
  display: flex;
  font-size: 18px;
  margin-right: 10px;
}

.dropdown ul {
  display: none;
  width: 225px;
  margin-top: 20px;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  
}

.dropdown ul li a {
  display: flex;
  padding: 16px 20px;
  height: 50px;
  color: #adadad;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dropdown ul li a .icon {
  display: flex;
  margin-right: 10px;
  font-size: 18px;
}

.dropdown ul li a:hover {
  background: #cfcfcf;
  color: #808080;
}

.dropdown ul li:first-child a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.dropdown ul li:last-child a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dropdown ul:before {
  content: '';
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: transparent transparent rgb(101, 164, 247) transparent;
  z-index: 1;
}

.dropdown.dropdown_desktop .icon {
  display: none;
}
.dropdown.dropdown_desktop .text {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.dropdown.dropdown_desktop_icon .text {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.dropdown.dropdown_desktop ul li a {
  justify-content: center;
}


.dropdown.dropdown_mobile ul li a {
  justify-content: center;
  padding: 16px 28px;
}

.dropdown.dropdown_mobile .icon {
  margin: 5px;
  display: none;
}
.dropdown.dropdown_mobile .text {
  justify-content: center;
}

.dropdown button.active + ul {
  display: block;
}
.mainlandingparent {
  display: flex;
  width: 100%;
  margin-top: 10px;
  align-items: center;
  text-align: center;
  justify-content: center !important;
  border: 0px solid #ffffff;
}

.gumroadimg {
  width: 100%;
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  border: black;
  border-style: solid;
  border-width: 4px;
  align-self: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Gumroad {
  font-size: 10px;
  padding: 10px;
  width: 500px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-color: #000;
  border-style: solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.gumroad-button {
  text-align: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}
.container {
  width: 100%;
  padding: 0px;
  display: table;
  border: 0px solid rgb(75, 44, 44);
  text-align: center;
  align-items: center;
  justify-content: center;
}

#row {
  display: table-row;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.h3 { padding:0px;margin:0px}
.iframe_bandcamp {border: 2px solid #000; width: 100%; height: 100%; border-radius: 4px; box-shadow: 4px 4px 10px #000;}
.iframe_video {border: 2px solid #000; border-radius: 10px; box-shadow: 4px 4px 10px #000; }
.iframe_souncloud { border: 4px solid #000; border-radius: 10px; box-shadow: 4px 4px 10px #000;}

.cell {
  width: 300px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  display: table-cell;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-align-last: center;
  border: 0px solid #fff;

}

#cell2 {
  width: 300px;
  color: #ffffff;
  font-size: 16px;
  font-weight:bold;
  margin:0px;
  padding:0px;
  display: table-cell;
  text-align: center; 
  align-items: center;
  justify-content: center;
  text-align-last: center;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  border: 0px solid #fff;
}

.franticlogo {
  align-self: center;
  justify-content: center;
  align-items: center;
  border: #000;
  border-style: solid;
  border-width: 0px;
}

.mainiframe {
  background-color: none;
  margin-top: 20px;
  border: 0px solid #000;
  text-align: center;
  align-items: center;
  justify-content: center;
}


h1{
  text-transform:uppercase;
  font-size:14px;
  
}
h2 a {
  font-size:12px;font-weight: bold; text-shadow: 11px 5px 10px #313131;color:#000

}
#cell2 a {
  font-size:17px;font-weight: bold; text-shadow: 11px 5px 10px #313131;color:rgb(219, 51, 135)

}

.iframemain {
  width:100%; 
  border-radius: 20px;
  border:none;
  overflow:hidden;
  padding-top:10px;
  border: 1px solid rgb(0, 0, 0, 0.25);  
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.navigation_flex { 
  display: block;
}
.navigation_flex div { margin:4px;}

@media (min-width: 768px) {
  .navigation_flex { 
    display: flex;
  }
  .iframemain { width: 800px;}
  .iframe_bandcamp { width: 300px; height: 300px; max-width: 800px;}
 
}
