<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Frantic Noise</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/style-iframe.css" />
  </head>
 
  <body>
    <main>
      <p class="infotext">
      Ableton Live Instrument & Audio Effect Racks
      </p>
      <div class="mainlandingparent">
        <div id="container">
         <script type="module">              
          import { loadJson } from "../src/scripts2.js";
          loadJson("instrumentracks");
          </script>
          </div>
        </div>
   
    </main>
  </body>
</html>
