<!DOCTYPE html>
<html lang="en">
  <head id="head" />
 
  <body>
    <main>
      <p class="infotext">
        <img class="gumroadimg" style="max-width:700px; border-width:2px;"  
        src="../img/Ableton-Live-Instrument-Rack.png" /><br>
        
      Instrument & Audio Effect Racks are sounds and effects ready to be dropped 
      in your Ableton Live projects. 
      </p>
      <div class="mainlandingparent">
        <div id="container">
         <script type="module">              
          import { loadJson, gumroadScripts, createHead } from "../src/scripts2.js";
          
          createHead();
          gumroadScripts();
          loadJson("instrumentracks");
          </script>
          </div>
        </div>
   
    </main>
  </body>
</html>
