<!DOCTYPE html>
<html lang="en">
  <head id="head" />
 
  <body>
    <main>
      <p class="infotext">
      Ableton Live Instrument & Audio Effect Racks
      </p>
      <div class="mainlandingparent">
        <div id="container">
         <script type="module">              
          import { loadJson, gumroadScripts } from "../src/scripts2.js";
          gumroadScripts();
          loadJson("instrumentracks");
          </script>
          </div>
        </div>
   
    </main>
  </body>
</html>
