<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Frantic Noise</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/style-iframe.css" />
  </head>

  <body>
    <div class="mainlandingparent">
      <div id="container" class="maincontainer">
      
      <div class="landingrow">
        
        <div>
          <a href="https://pleiadianrecords.bandcamp.com/album/ruminative" target="_blank">
            <img src="../img/a1070211540_10.jpg"  class="gumroadimg__landing">
          </a>       
        </div>
        
        <div class="infotext3" style="padding-bottom:10px;">
          <span>FRANTIC NOISE "RUMINATIVE" EP <br>2022 PLEIADIAN RECORDS</span><br><br>
          Frantic Noise presents to us once again an auditory serenade aimed at inspiring the next levels of human consciousness. 
          Four coded tracks contain the messages that will blast man into critical sonic awareness. Prepare for a carefully selected 
          philosophical arrangement that will make you Dance, stomp and ponder upon the age old questions.
          <br></br><iframe class="landingbandcampiframe" 
          src="https://bandcamp.com/EmbeddedPlayer/album=91420019/size=small/bgcol=333333/linkcol=fe7eaf/artwork=none/transparent=true/" 
          seamless></iframe>        
        </div>
      </div>
      <div id="soundcloud"></div>
      <script type="module">
        let soundcloud_list = [
          [1368097705, 1],
        ];
        import { createSoundcloud } from "../src/scripts2.js";

        soundcloud_list.forEach((activity) => {

          const soundcloudList = document.getElementById("soundcloud");
          soundcloudList.className = "js-container-soundcloud" ;
          let createSoundcloudDiv = document.createElement("div");

          createSoundcloudDiv.id = activity[1];
          createSoundcloudDiv.className = "js-cell";

          soundcloudList.appendChild(createSoundcloudDiv);

          createSoundcloud(activity[0], activity[1]);
        });

        //            console.table(soundcloud_list);
      </script>
        
      <div id="landingrow">
          <div id="cell2_landing" >
            <a href="http://franticnoise.gumroad.com" target="_blank">
            <img src="../img/gumroadlading.png" class="gumroadimg__landing2"></a>
          </div>
          <div>
            <p class="infotext3" style="text-align: center">Browse thru thousands of psy presets, templates, courses and more!</div>
            <a href="franticnoise.gumroad.com" class="home_link" target="_blank">franticnoise.gumroad.com</a>
          </p>
          </div>
       </div>
        
    </div>
   
  </body>
</html>
