<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Frantic Noise</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=1" />
    
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/style-iframe.css" />
  </head>

  <body>
   

    
    <div class="mainlandingparent">
      
      
      <div id="container" class="maincontainer">
      
       <div id="row">
        <p class="infotext3" style="padding-bottom:10px">
          Frantic Noise presents to us once again an auditory serenade aimed at inspiring the next levels of human consciousness. Four coded tracks contain the messages that will blast man into critical sonic awareness. Prepare for a carefully selected philosophical arrangement that will make you Dance, stomp and ponder upon the age old questions.
        </p>
     </div>
      <div id="row">
          <div id="cell2">
            <a href="https://pleiadianrecords.bandcamp.com/album/ruminative" target="_blank">
              <img src="../img/ruminativebanner.jpg"  class="gumroadimg__landing">
            </a><br>
            FRANTIC NOISE "RUMINATIVE" EP 2022 PLEIADIAN RECORDS<br><br>
             
            <iframe style="border:0px; border-radius:6px; height: 43px;" 
            src="https://bandcamp.com/EmbeddedPlayer/album=91420019/size=small/bgcol=333333/linkcol=fe7eaf/artwork=none/transparent=true/" 
            seamless></iframe><br></br></div>
          
        </div>
       
        
      <div id="row">
          <div id="cell2"><a href="http://franticnoise.gumroad.com" target="_blank">
            <img src="../img/gumroadlading.png" class="gumroadimg__landing"></a>
          </div>
        </div>
        <div id="row">
          <div id="cell2">Browse thru thousands of psy presets, templates, courses and more!</div>
       </div>
        <div id="row">
          <div id="cell2"><a href="franticnoise.gumroad.com" class="home_link" target="_blank">franticnoise.gumroad.com</a></div>
       </div>
        
       
         </div>
        
      
    </div>
   
  </body>
</html>
