<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Frantic Noise</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width user-scalable=1" />
    <script src="https://gumroad.com/js/gumroad.js"></script>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/style-iframe.css" />
  </head>

  <body style="background-color: transparent;border:0px solid #ffffff; justify-content: center;text-align: center;align-items: center;">
   

    
    <div class="mainlandingparent" style="margin-top:0px; width:100%; justify-content: center; display:block;padding-left:20px; border:0px solid #ffffff;">
      
      
      <div id="container" style="margin-top:0px;width:670px;border:0px solid #fff;padding-left: 50px;">
      
       <div id="row">
        <div id="cell3" style="padding-bottom:10px">
          Frantic Noise presents to us once again an auditory serenade aimed at inspiring the next levels of human consciousness. Four coded tracks contain the messages that will blast man into critical sonic awareness. Prepare for a carefully selected philosophical arrangement that will make you Dance, stomp and ponder upon the age old questions.
        </div>
     </div>
      <div id="row">
          <div id="cell2">
            <a href="https://pleiadianrecords.bandcamp.com/album/ruminative" target="_blank">
              <img src="../img/ruminativebanner.jpg" style="width:620px" class="gumroadimg__landing">
            </a>
            FRANTIC NOISE "RUMINATIVE" EP 2022 PLEIADIAN RECORDS<br><br>
             
            <iframe style="border:0px; border-radius:6px; width: 500px; height: 43px;" 
            src="https://bandcamp.com/EmbeddedPlayer/album=91420019/size=small/bgcol=333333/linkcol=fe7eaf/artwork=none/transparent=true/" 
            seamless></iframe></div>
          
        </div>
       
        
      <div id="row">
          <div id="cell2"><a href="http://franticnoise.gumroad.com" target="_blank">
            <img src="../img/gumroadlading.png" style="width:640px; padding-top:20px" ></a>
          </div>
        </div>
        <div id="row">
          <div id="cell2">Browse thru thousands of psy presets, templates, courses and more!</div>
       </div>
        <div id="row">
          <div id="cell2"><a href="franticnoise.gumroad.com" class="home_link" target="_blank">franticnoise.gumroad.com</a></div>
       </div>
        
        <!--
         <div id="row">
            <div id="cell2">Listen to my latest release!</div>
            <div id="cell2">Check out my latest bank!</div>
         </div>
          <div id="row">
            <div id="cell" style="width:0%; vertical-align: top">

              <iframe style="border: 0; width: 300px; height: 300px;" 
                  src="https://bandcamp.com/EmbeddedPlayer/album=661838934/size=large/bgcol=333333/linkcol=fe7eaf/transparent=true/" seamless>
              <a  href="https://pleiadianrecords.bandcamp.com/album/rocketship">Rocketship by Frantic Noise</a></iframe>
              
              
              <div id="cell2" style="font-size: 14px;margin:0px;padding-top:10px;padding-bottom:5px;font-weight: 100;">
                <b>Pleiadian Records</b> is thrilled to bring you a very special treat!
                Following a series of truly remarkable releases by the Argentinian mastermind Frantic Noise.<br><br>
                <a style="font-family: 'Montserrat', sans-serif;" href="https://pleiadianrecords.bandcamp.com/album/rocketship" target="_blank">
                  <img style="width: 44%; margin-top: 0px" src="img/bandcamp-button.webp"/></a>
              </div><br> 

             
            </div>

            <div id="cell" style="width:0%;padding-left:10px;">
                
              <div class="" style="margin-bottom: 0px;">
                <img src="img/EPICULTRA-VOL2-FINALTHUMB1000PX.png" class="gumroadimg__landing" style="width:300px; height:300px"/>
              </div>

              <p id="cell2" style="font-size: 14px;font-weight:100;width:100%; display:block;padding:0px;margin:0px;padding-bottom: 4px;margin-top:12px;">
                  <b>EPICULTRA vol2</b> is a collection of presets has been carefully crafted to provide a useful pallette of sounds for anyone producing psytrance music.<br>
                  <a class="gumroad-button" href="https://franticnoise.gumroad.com/l/epicultravol2" style="margin-top:17px">Buy on</a><br>
           
                </p>
                  
              
            </div>-->
         </div>
        
      </div>
    </div>
   
  </body>
</html>
