<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Frantic Noise</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/style-iframe.css" />
  </head>
 
  <body>
    <main>
        <p  class="infotext">
        This is some ideas i've been playing around in my free time.
        Let me know about if you have suggestions, they are are very welcome =)
      </p>
      
        <div id="container" class="maincontainer">
           <script type="module">              
            import { loadJson, gumroadScripts } from "../src/scripts2.js";
            gumroadScripts();
            loadJson("max4live");
          </script>
        </div>
   
    </main>
  </body>
</html>
