<!DOCTYPE html>
<html lang="en">
  <head id="head" />
 
  <body>
    <main>
      <img style="margin-bottom: 10px;max-width:700px" class="gumroadimg" src="../img/maxforlive.jpg" />
      <p  class="infotext" style="margin-bottom: 20px">
        This is some ideas i've been playing around in my free time.
        Suggestions are are very welcome =)<br>
        Download the latest version of Max for Live <a href="https://www.ableton.com/en/live/max-for-live/" target="_blank">here</a>.
      </p>
      
      
        <div id="container" class="maincontainer">
           <script type="module">              
            createHead('Max for Live devices')
            import { loadJson, gumroadScripts, createHead } from "../src/scripts2.js";
            gumroadScripts();
            loadJson("max4live");
          </script>
        </div>
   
    </main>
  </body>
</html>
