<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Frantic Noise</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://gumroad.com/js/gumroad.js"></script>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/style-iframe.css" />
   
  </head>
  
  <body style="background-color: transparent">
    <main style="width: 100%; text-align: center">
      
      <p class="infotext" >
        Get streaming access to 120+ hours of recorded courses & workshops thru
        my gumroad Memberships plus other benefits like monthly presets and
        mastering services! :)
      </p>

      
        <div id="container" >          
            
            <script type="module">  
              let gumroad_list = [
                ['GOLDMEMBERSHIPSQUARE2.png', 'xAmTU', 1],
                ['SILVERMEMBERSHIPSQUARE2.png', 'HMMSm', 2]
              ];      
              
              console.table(gumroad_list)
              gumroad_list.forEach((activity) => {
                const gumroadList = document.getElementById("container");
                gumroadList.className = "js-container js-container-dual";
                let createGumroadDiv = document.createElement("div");
      
                createGumroadDiv.id = activity[2];
                createGumroadDiv.className = "js-cellbandcamp js-cell-gumroad";
      
                gumroadList.appendChild(createGumroadDiv);
                console.table(activity);
            
                document.getElementById(activity[2]).innerHTML = `<div id="cell"><img style="width: 240px" class="gumroadimg" src="../img/${activity[0]}"/>
                  <a class="gumroad-button" href="https://franticnoise.gumroad.com/l/${activity[1]}">Buy on</a></div>`;
                
                //createGumroad(activity[2], activity[0], activity[1]);
              });            
              //import { createGumroad } from "../src/scripts2.js";
              //createGumroad('GOLDMEMBERSHIPSQUARE2.png','xAmTU','1');
              //createGumroad('SILVERMEMBERSHIPSQUARE2.png','HMMSm','2');
            </script>
          </div> </div>
        
        
      
      <p
        style="
          margin-top: 00px;
          font-weight: 600;
          font-size: 14px;
          color: #ffffff;
          margin-bottom: 20px;
        "
      >
        Read one short class review by one of my students:<br />
        <img
          src="../img/147197028_141610631127819_7386312210166532991_n.jpg"
          style="width: 500px"
        />
      </p></div>
    </main>
  </body>
</html>
