<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Frantic Noise</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://gumroad.com/js/gumroad.js"></script>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/style-iframe.css" />
   
  </head>
  
  <body style="background-color: transparent">
    <main style="width: 100%; text-align: center">
      <p class="infotext" >
        Get streaming access to 120+ hours of recorded courses & workshops thru
        my gumroad Memberships plus other benefits like monthly presets and
        mastering services! :)
      </p>

      <div
        class="mainlandingparent"
        style="
          margin-top: 0px;
          display: flex;
          width: 100%;
          justify-content: center;
        "
      >
        <div id="container" style="width: 50%; border: 0px solid #000000">          
          <div id="row">         
            <div class="cell" id="1"></div>
            <div class="cell" id="2"></div>    
            <script type="module">              
              import { createGumroad } from "../src/scripts2.js";
              createGumroad('GOLDMEMBERSHIPSQUARE2.png','xAmTU','1');
              createGumroad('SILVERMEMBERSHIPSQUARE2.png','HMMSm','2');
            </script>
          </div>
        </div>
        
      </div>
      <p
        style="
          margin-top: 00px;
          font-weight: 600;
          font-size: 14px;
          color: #ffffff;
          margin-bottom: 20px;
        "
      >
        Read one short class review by one of my students:<br />
        <img
          src="../img/147197028_141610631127819_7386312210166532991_n.jpg"
          style="width: 500px"
        />
      </p>
    </main>
  </body>
</html>
