<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Frantic Noise</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/style-iframe.css" />
   
  </head>
  
  <body>
    <main>
      
      <p class="infotext" >
        Get streaming access to 120+ hours of recorded courses & workshops thru
        my gumroad Memberships plus other benefits like monthly presets and
        mastering services! :)
      </p>
      
        <div id="container" class="maincontainer">                      
            <script type="module">  
              import { loadJson } from "../src/scripts2.js";
              loadJson("membership");
            </script>
        </div> 
      
      
      <p class="infotext">
        One short review from one of my students:<br />
        <img class="gumroadimg__landing" src="../img/147197028_141610631127819_7386312210166532991_n.jpg"/>
      </p>
    
    
    </main>
  </body>
</html>
