<!DOCTYPE html>
<html lang="en">
  <head id="head" />
 
  <body>
    <main> 
      <img style="margin-bottom: 10px;max-width:700px" class="gumroadimg" src="../img/WarpMarker.avif" />
      
      <p class="infotext">
        <small>We all know playing a song at a faster bpm increases the 
          frequency of the signal, making voices squirrely, but how many semitones 
          does a song shift when we increase 1 bpm? How many when we increase 10? 
          Useful for refactoring the key of a highly bpm-altered track. 
          </p>
        </small>
        
      <div class="infotext" style="margin-bottom: 20px;"> 
       
        <form class="form_calc" onSubmit="">     
          <span>FROM</span>     
          <input type="number" id="bpm_from" value="150" autofocus> 
          <span>TO</span>
          <input type="number" id="bpm_to" value="180" > 
          <span>BPM</span>
          <button type="submit" id="calc_semitones" >Calculate</button>
        </form>
      </div>

      <div id="container" class="calculator">

      </div>
      

    </main>
  </body>
</html>
<script type="module">    
                    
  createHead('BPM Delay Millisecond Calculator')
  import { createHead, calcMs } from "../src/scripts2.js";
  
  document.getElementById("calc_semitones").addEventListener("click", function(event){
    event.preventDefault()
    const t1 = document.getElementById('bpm_from').value 
    const t2 = document.getElementById('bpm_to').value 
    let valn2=Math.round((Math.log((+t2 - 20)/t1)/0.05776227)*100)/100;
    let valn1=Math.round((Math.log((+t2 - 10)/t1)/0.05776227)*100)/100;
    let val=Math.round((Math.log(t2/t1)/0.05776227)*100)/100;
    let valp1=Math.round((Math.log((+t2 + 10)/t1)/0.05776227)*100)/100;
    let valp2=Math.round((Math.log((+t2 + 20)/t1)/0.05776227)*100)/100;
    
    console.log(val)

    const resultsList = document.getElementById("container");
    if (Math.sign(val) !== -1) { val = '+' + val }
    let createResultDiv = document.createElement("div");
  // createResultDiv.innerHTML = `Going from ${t1} to ${(+t2 - 20)} BPM will shift ${valn2} semitones<br>`;
  // createResultDiv.innerHTML += `Going from ${t1} to ${(+t2 - 10)} BPM will shift ${valn1} semitones<br>`;
    createResultDiv.innerHTML += `<span>Going from ${t1} to ${t2} BPM will transpose ${val} semitones</span><br>`;
  // createResultDiv.innerHTML += `Going from ${t1} to ${(+t2 + 10)} BPM will shift ${valp1} semitones<br>`;
  // createResultDiv.innerHTML += `Going from ${t1} to ${(+t2 + 20)} BPM will shift ${valp2} semitones<br>`;
    resultsList.appendChild(createResultDiv);
    
   
  });


</script>