<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Frantic Noise</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://gumroad.com/js/gumroad.js"></script>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/style-iframe.css" />
  </head>

  <body style="background-color: transparent">
    <main style="width: 100%">
      <p class="infotext">
        Follow me and find more tracks like this ones at
        <a
          href="http://www.soundcloud.com/franticnoise"
          target="_blank"
          style="color: #d889f0"
          >soundcloud.com/franticnoise</a
        >
      </p>
      <div
        class="mainlandingparent"
      >
        <div id="container" class="js-container" style="margin-top: 0px; width: 100%;">
          
          <script type="module">
            let soundcloud_list = [
              [1368097705, 1],
              [224303366, 2],
              [660207311, 3],
              [466712427, 4],
              [849755113, 5],
            ];
            import { createSoundcloud } from "../src/scripts2.js";

            soundcloud_list.forEach((activity) => {

              const soundcloudList = document.getElementById("container");
              soundcloudList.className = "js-container";
              let createSoundcloudDiv = document.createElement("div");

              createSoundcloudDiv.id = activity[1];
              createSoundcloudDiv.className = "js-cell";

              soundcloudList.appendChild(createSoundcloudDiv);

              createSoundcloud(activity[0], activity[1]);
            });

            //            console.table(soundcloud_list);
          </script>
        </div>
      </div>
    </main>
  </body>
</html>
