<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Frantic Noise</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/style-iframe.css" />
  </head>

  <body>
    <main>
      <p class="infotext">
        Templates are a perfect place to start from in your next hitech
        psytrance music session. When starting a new track I find a lot of value
        in eliminating some variables (such as the arrangement of percussion and
        basslines for example) in order to focus only on making legendary level
        sound design. <br />
      </p>

      <div id="container" class="maincontainer">
        <script type="module">
          import { loadJson, gumroadScripts } from "../src/scripts2.js";
          gumroadScripts();
          loadJson("templates");
        </script>
      </div>
    </main>
  </body>
</html>
