<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Frantic Noise</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://gumroad.com/js/gumroad.js"></script>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/style-iframe.css" />
  </head>

  <body style="background-color: transparent">
    <main
      style="
        width: 100%;
      "
    >
      <div
        class="mainlandingparent"
        style="
          margin-left: 35px;
          margin-top: 0px;
          display: table;
          width: 0%;
          justify-content: center;
        "
      >
        <p class="infotext">
          Videos taken from my second youtube <a href="http://www.youtube.com/z1priano" target="_blank" style="color: #d889f0" >
            channel</a><br /> with party and tour footage going back to 2006.<br />
        </p>
        <div
          id="container"
          style="
            margin-left: 20px;
            margin-top: 0px;
            border: 0px solid #000000;
            width: 100%;
          "
        >
          <div id="row"><div class="cell" id="1"></div></div>
          <div id="row"><div class="cell" id="2"></div></div>
          <div id="row"><div class="cell" id="3"></div></div>
          <div id="row"><div class="cell" id="4"></div></div>

          <script type="module">
            import { createYoutube } from "../src/scripts2.js";
            createYoutube("2kRfHfbx1dM", 1);
            createYoutube("vSIs9DxuEzE", 2);
            createYoutube("NzxsqsU5x_4", 3);
            createYoutube("_rnSHTN0nRo", 4);
          </script>
        </div>
      </div>
    </main>
  </body>
</html>
