<!DOCTYPE html>
<html lang="en">
  <head id="head" />
   

  <body>
    <main>
      <p class="infotext">
        Videos taken from my second youtube
        <a
          href="http://www.youtube.com/z1priano"
          target="_blank"
        >
          channel</a
        >
        with party and <br />tour footage going back to 2006.<br />
      </p>
      <div
        id="container"
        class="maincontainer">
      
        <script type="module">
          createHead('Party Videos');
          let youtube_list = [
            ["2kRfHfbx1dM", 1],
            ["vSIs9DxuEzE", 2],
            ["NzxsqsU5x_4", 3],
            ["_rnSHTN0nRo", 4],
          ];

          import { createYoutube, createHead } from "../src/scripts2.js";

          youtube_list.forEach((activity) => {
            const youtubeList = document.getElementById("container");
            youtubeList.className = "js-container";
            let createYoutubeDiv = document.createElement("div");

            createYoutubeDiv.id = activity[1];
            createYoutubeDiv.className = "js-cell";

            youtubeList.appendChild(createYoutubeDiv);

            createYoutube(activity[0], activity[1]);
           
          });
          
          //createYoutube("2kRfHfbx1dM", 1);
          //createYoutube("vSIs9DxuEzE", 2);
          //createYoutube("NzxsqsU5x_4", 3);
          //createYoutube("_rnSHTN0nRo", 4);
        </script>
      </div>
    </main>
  </body>
</html>
